@import "tailwindcss";

@layer utilities {
    .rotate-vertical {
      transform: rotateY(90deg);
    }
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* For the main body as well */
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background:#0e1424;
}

/* Optional: Ensure smooth scrolling */
html {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

/* Reset any conflicting styles */
* {
  box-sizing: border-box;
}

/* Remove default margins and padding */
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar-thumb {
 
  border-radius: 4px;
}

/* Ensure no fixed positioning issues */
.section-animate {
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  .mobile-palette {
    flex-direction: column !important;
    height: auto !important;
  }
  .mobile-palette > div {
    width: 100% !important;
    height: 150px !important;
  }
}




  